<div class="page-wrapper">
  <div class="content">
    <div class="page-header">
      <div class="page-title">
        <h4>Patient Management</h4>
        <h6>Add Patient</h6>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-lg-6 col-sm-10 col-12">
              <div class="form-group">
                <label>First name</label>
                <input [(ngModel)]="patient.prenom" placeholder="Fist name" name="prenom" type="text">
              </div>
              <div class="form-group">
                <label>Mobile</label>
                <input [(ngModel)]="patient.tel" placeholder="Mobile" name="tel" type="text">
              </div>
              <div class="form-group">
                <label>Age</label>
                <input [(ngModel)]="patient.age" class="form-control" min="0" placeholder="Age" name="age" type="number">
              </div>
              <div class="form-group">
                <label>Address</label>
                <textarea [(ngModel)]="patient.address" class="form-control" name="address" placeholder="Address ..." id="floatingTextarea"></textarea>
              </div>
            </div>
            <div class="col-lg-6 col-sm-10 col-12">
              <div class="form-group">
                <label>Last name</label>
                <input [(ngModel)]="patient.nom" placeholder="Last name" name="nom" type="text">
              </div>
              <div class="form-group">
                <label for="quotation-date">Quotation Date</label>
                <div class="input-group">
                  <input [(ngModel)]="patient.dateNaissance" type="date" name="dateNaissance" id="quotation-date" placeholder="DD-MM-YYYY" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label>City</label>
                <input [(ngModel)]="patient.ville" placeholder="City" name="ville" type="text">
              </div>
              <div class="form-group">
                <label>Sexe</label>
                <select [(ngModel)]="patient.sexe" name="sexe" class="form-select">
                  <option>MALE</option>
                  <option>FEMALE</option>
                </select>
              </div>
            </div>
            <div class="col-lg-12">
              <button class="btn btn-submit me-2">Submit</button>
              <button (click)="goToPatientList()" class="btn btn-cancel">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
