<div class="page-wrapper">
  <div class="content">
    <div class="page-header">
      <div class="page-title">
        <h4>Patient List</h4>
        <h6>Manage your Patients</h6>
      </div>
      <div class="page-btn">
        <a routerLink="save" class="btn btn-added">
          <img src="assets/img/icons/plus.svg" alt="img" />
          Add Patient</a>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="table-top">
          <!-- TODO: ADD SEARCH INPUT IN THIS PLACE -->
          <div class="row">
            <div class="col">
              <div class="form-group d-flex align-items-center">
                <input placeholder="search..." name="name" type="text" class="form-control">
                <button class="btn btn-filters ms-2"><img src="assets/img/icons/search-whites.svg" alt="img"></button>
              </div>
            </div>
          </div>


          <div class="wordset">
            <ul>
              <li>
                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="assets/img/icons/pdf.svg"
                    alt="img" /></a>
              </li>
              <li>
                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="assets/img/icons/excel.svg"
                    alt="img" /></a>
              </li>
              <li>
                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                    src="assets/img/icons/printer.svg" alt="img" /></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>
                  <label class="checkboxs">
                    <input type="checkbox" id="select-all" />
                    <span class="checkmarks"></span>
                  </label>
                </th>
                <th>first name</th>
                <th>last name</th>
                <th>address</th>
                <th>phone</th>
                <th>city</th>
                <th>age</th>
                <th>sexe</th>
                <th>date of birth</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let patient of patients">
                <td>
                  <label class="checkboxs">
                    <input type="checkbox" />
                    <span class="checkmarks"></span>
                  </label>
                </td>
                <td>
                  {{ patient.prenom }}
                </td>
                <td>{{ patient.nom }}</td>
                <td>{{ patient.address | slice:0:15 }}...</td>
                <td>{{ patient.tel }}</td>
                <td>{{ patient.ville }}</td>
                <td>{{ patient.age }}</td>
                <td>{{ patient.sexe }}</td>
                <td>{{ patient.dateNaissance }}</td>
                <td>
                  <a (click)="updatePatient(patient.id)" class="me-3">
                    <img src="assets/img/icons/edit.svg" alt="img" />
                  </a>
                  <a (click)="deletePatient(patient.id)" class="me-3 confirm-text">
                    <img src="assets/img/icons/delete.svg" alt="img" />
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="dataTables_length mb-3" id="DataTables_Table_0_length">
            <label>
              <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"
                class="custom-select custom-select-sm form-control form-control-sm">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </label>
          </div>
          <div class="dataTables_paginate paging_numbers">

            <ul class="pagination">
              <li class="paginate_button page-item active">
                <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">1</a>
              </li>
            </ul>
          </div>
          <div class="dataTables_info mt-4" id="DataTables_Table_0_info" role="status" aria-live="polite">
            1 - 14 of 14 items
          </div>
        </div>
      </div>
    </div>
  </div>
</div>