<div class="page-wrapper">
  <div class="content">
    <div class="page-header">
      <div class="page-title">
        <h4>Materials List</h4>
        <h6>Manage your Materials</h6>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">
          <div class="row">

            <div class="col-lg-6 col-sm-6 col-12">
              <div class="form-group">
                <label>Material Libelle</label>
                <input [(ngModel)]="material.libelle" placeholder="Material Libelle" name="material" type="text">
              </div>
            </div>

            <div class="col-lg-6 col-sm-6 col-12">
              <div class="form-group">
                <label>Stock Quantity</label>
                <input [(ngModel)]="material.availableQuantity" placeholder="Quantity" name="quantity" #quantity="ngModel" type="text" pattern="^[0-9]*$">
                <div *ngIf="quantity.errors?.['pattern']" style="color: red;">
                  Please enter a valid number.
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-sm-6 col-12">
              <div class="form-group">
                <label>Material Price</label>
                <input [(ngModel)]="material.price" placeholder="price" name="price" #price="ngModel" type="text" pattern="^[0-9]*$">
                <div *ngIf="price.errors?.['pattern']" style="color: red;">
                  Please enter a valid number.
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-12">
            <button href="javascript:void(0);" class="btn btn-submit me-2">Submit</button>
            <button (click)="goToMaterialsList()" class="btn btn-cancel">Cancel</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
